.navigation {
    display: flex;
    flex-direction: column;
    margin-left: 56rem;
    align-items: center;
    width: 800px;
    height: 8.8rem;
    border: 1px solid red;
    margin-top: 1.2rem;

    h1 {
        font-size: 4rem;
        margin-bottom: 1.8rem;
    }
    .nav-options {
        font-size: 1.6rem;
        padding-bottom: 0.8rem;

        a {
            text-decoration: none;
            margin: 0 1.4rem;
        }
    }
}