.navigation {
    display: flex;
    flex-direction: column;
    margin-left: 46rem;
    align-items: center;
    width: 1000px;
    height: 10rem;
    padding-top: 1.2rem;
    background: @wild-sand;
    position: fixed;
    opacity: 0.88;
    

    @media @phone {
        margin-left: 0;
        width: 500px;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 1.8rem;
        color: @main-font-color;
    }
    .nav-options {
        font-size: 1.6rem;
        padding-bottom: 0.4rem;
        margin-bottom: 2rem;

        a {
            text-decoration: none;
            margin: 0 1.4rem;
            color: @main-font-color;
        }
    }
}